.inputWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.addButton,
.removeButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.addButton:hover,
.removeButton:hover {
  transform: scale(1.2);
}

.addButton > svg {
  fill: var(--dark-color);
}
.removeButton > svg {
  fill: var(--light-color);
}

.removeButton > svg {
  transform: rotate(45deg);
}

.list {
  padding: 0;
  margin-bottom: 1rem;
}
.listItem {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 0 2px 10px;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  background-color: var(--dark-color);
  color: var(--light-color);
}
