.btn {
  position: fixed;
  bottom: 60px;
  right: 60px;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: var(--black-color);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(3px);
}

.glow {
  pointer-events: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--black-color);
  position: absolute;
  transition: all 500ms ease; /*cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
  filter: blur(20px);
}

.btn:hover .glow {
  width: 140px;
  height: 140px;
}
