.container {
  --dimension: 10rem;

  position: fixed;
  top: calc(var(--dimension) / 2 * -1);
  right: calc(var(--dimension) / 2 * -1);
  width: var(--dimension);
  height: var(--dimension);
  background-color: var(--black-color);
  color: var(--light-color);
  border-radius: 50%;
}

.items {
  position: absolute;
  bottom: 20%;
  left: 20%;
}

.toggleButton {
  position: absolute;
  bottom: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  stroke: var(--light-color);
}
.toggleButton > svg {
  width: 30px;
  height: 30px;
}

.link {
}
.linkHidden {
  cursor: default;
  pointer-events: none;
}

.twitterIcon,
.githubIcon,
.infoIcon {
  cursor: pointer;
  position: relative;
  stroke: var(--black-color);
  overflow: visible;
}
.twitterIcon {
  top: 70px;
  left: -72px;
  transform: rotate(80deg);
  width: 40px;
  height: 40px;
}
.githubIcon {
  top: 70px;
  left: -25px;
  transform: rotate(25deg);
  width: 40px;
  height: 44px;
}
/* .infoIcon {
  top: 89px;
  left: -3px;
  transform: rotate(0deg);
  width: 40px;
  height: 40px;
} */

@media screen and (max-width: 768px) {
  .container {
    --dimension: 5rem;
  }
  .toggleButton {
    bottom: -2px;
    left: -5px;
  }
  .toggleButton > svg {
    width: 17px;
    height: 17px;
    max-width: 17px;
  }

  .twitterIcon {
    top: 35px;
    left: -35px;
    width: 20px;
    height: 20px;
  }
  .githubIcon {
    top: 35px;
    left: -10px;
    width: 20px;
    height: 22px;
  }
  /* .infoIcon {
    top: 44px;
    left: 0px;
    width: 20px;
    height: 20px;
  } */
}
