.container {
  --dimension: 10rem;

  position: fixed;
  top: calc(var(--dimension) / 2 * -1);
  right: calc(var(--dimension) / 2 * -1);
  width: var(--dimension);
  height: var(--dimension);
  background-color: var(--black-color);
  color: var(--light-color);
  border-radius: 50%;
}

.items {
  position: absolute;
  bottom: 20%;
  left: 20%;
}

.toggleButton {
  position: absolute;
  bottom: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  stroke: var(--light-color);
}

.link {
}
.linkHidden {
  cursor: default;
  pointer-events: none;
}

.twitterIcon,
.githubIcon,
.infoIcon {
  cursor: pointer;
  position: relative;
  stroke: var(--black-color);
  overflow: visible;
}
.twitterIcon {
  top: 92px;
  left: -92px;
  transform: rotate(90deg);
}
.githubIcon {
  top: 103px;
  left: -55px;
  transform: rotate(45deg);
}
.infoIcon {
  top: 89px;
  left: -3px;
  transform: rotate(0deg);
}
