circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

body {
  color: var(--black-color);
  background-color: var(--light-color);
}

/* toggle theme animation */
* {
  transition: background-color 0.3s ease-out;
}

a {
  color: var(--accent-color);
  opacity: 0.8;
  transition: opacity 0.3s ease-out;
}
a:hover {
  opacity: 1;
}
