circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

body {
  color: black;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #222;
  }
}
